
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: white;
  letter-spacing: 0.5px;
}
.back-button {
  outline: none;
  border: none;
  padding: 5px 12px;
  border: 2px solid green;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
}

.back-button:hover{
  background-color: orange;
}